
body{
  background-image: url(./images/inferno-background.jpg);
background-position: 50% 60px;
background-size: cover;
background-repeat: no-repeat;

}

main{
  min-height: 80vh;
}

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3{
  padding: 1rem 0;
}

.rating span{
  margin: 0.1rem;
}